.container {
    display: flex;
    justify-content: center;
}
.grid {
    box-shadow: 7px 7px 5px 5px #124370;
}

.version-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px;
}
.version-row > p{
    color: white;
    text-align: end;
}

.time-row {
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 15px;
}
.time-row > p {
    color: white;
    text-align: end;
}

  