.node {
    border: 1px solid black;
    border-radius: 7px;
}

.wall {
    background-color: rgba(0, 0, 0, 0.664);
    animation-name: wall-anim;
    animation-duration: 0.35s;
}

@keyframes wall-anim {
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(0.25);
    }
    50%{
        transform: scale(0.50);
    }
    75%{
        transform: scale(0.75);
    }
    100%{
        transform: scale(1);
    }
}

.start {
    background-color: rgb(0, 255, 34);
}

.end {
    background-color: rgb(255, 58, 58);
}
.visited {
    background-color: rgba(194, 253, 234, 0.856);
    animation-name: visiting;
    animation-duration: 0.5s;
}

@keyframes visiting {
    0% {
        background-color: transparent;
    }
    25% {
        background-color: yellow;
        opacity: 0.25;
    }
    50%{
        background-color: yellowgreen;
        opacity: 0.5;
    }
    75%{
        background-color: aquamarine;
        opacity: 0.75;
    }
    100%{
        background-color: aquamarine;
        opacity: 1;
    }
}

.shortestPath {
    background-color: yellow;
    animation-name: shortestPathAnim;
    animation-duration: 0.75s;
}

@keyframes shortestPathAnim {
    0%{
        transform: scale(0.5);
    }
    25%{
        transform: scale(1);
        color: yellowgreen;
        opacity: 0.25;
    }
    50%{
        trasform: scale(1.25);
        background-color: yellowgreen;
        opacity: 0.5;
    }
    75%{
        transform: scale(1);
        opacity: 0.75;
    }
    100%{
        background-color: rgb(223, 223, 49);
        opacity: 1;
    }
}