.node {
    border: 1px solid rgba(153, 145, 145);
    border-radius: 7px;
    user-select: none;
}

.empty {
    background-color: white;
}

.wall {
    background-color: rgb(70, 66, 66);
    animation-name: wall-anim;
    animation-duration: 0.4s;
    z-index: 1;
}

@keyframes wall-anim {
    0%{
        transform: scale(0);
    }
    25%{
        transform: scale(0.25);
    }
    50%{
        transform: scale(0.50);
    }
    75%{
        transform: scale(0.75);
    }
    100%{
        transform: scale(1);
    }
}

.start {
    background-color: rgb(0, 255, 34);
}

.end {
    background-color: rgb(255, 58, 58);
}
.visited {
    background-color: rgba(194, 253, 234);
    animation-name: visiting;
    animation-duration: 0.5s;
}

@keyframes visiting {
    25% {
        background-color: rgb(166, 212, 196);
    }
    50%{
        background-color: rgb(151, 228, 202);
    }
    75%{
        background-color: rgb(133, 238, 201);
    }
    100%{
        background-color: rgb(73, 250, 191);
    }
}

.shortestPath {
    background-color: yellow;
    animation-name: shortestPathAnim;
    animation-duration: 0.75s;
}

@keyframes shortestPathAnim {
    0%{
        transform: scale(0.5);
    }
    25%{
        transform: scale(1);
        color: yellowgreen;
    }
    50%{
        trasform: scale(1.25);
        background-color: yellowgreen;
    }
    75%{
        transform: scale(1);
    }
    100%{
        background-color: rgb(223, 223, 49);
    }
}